.email {
  font-weight: 500;
  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  flex: 1;
}
.email,
.password {
  border: 0;
  background-color: transparent;
  align-self: stretch;
}
.login {
  position: relative;
}
.forgetPassword {
  font-weight: 500;
}
.forgetPasswordResetContainer1 {
  line-break: anywhere;
  width: 100%;
}
.forgetPasswordResetContainer {
  position: relative;
  line-height: 120%;
  display: flex;
  align-items: center;
  width: 334.04px;
  height: 44px;
  flex-shrink: 0;
}
.emailParent {
  position: absolute;
  top: 280px;
  left: 33px;
  height: 267px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  text-align: left;
}
.velocifiedSymbol6Icon {
  position: relative;
  width: 857px;
  height: 743.31px;
  object-fit: cover;
}
.velocifiedSymbol6Wrapper {
  width: 857px;
  height: 743.31px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.velocifiedSymbol5Icon {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 484px;
  height: 737px;
  object-fit: cover;
  z-index: 0;
}
.frameParent,
.velocifiedSymbol5Wrapper {
  height: 752px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.velocifiedSymbol5Wrapper {
  width: 863.84px;
  align-items: flex-start;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  margin-left: -408px;
}
.frameParent {
  position: absolute;
  top: 95px;
  left: 279px;
  width: 1509.84px;
  align-items: center;
}
.velocifiedSymbol5Icon1 {
  position: relative;
  width: 33px;
  height: 33px;
  object-fit: cover;
}
.velocified {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.velocifiedSymbol5Parent {
  position: absolute;
  top: 56px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 9px;
  font-size: 18px;
  color: #6e28ee;
  font-family: var(--font-sf-pro);
}
.logInChild {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 39.5px;
  left: 214.5px;
}
.home {
  top: 0;
  left: calc(50% - 168px);
}
.about,
.fr,
.home,
.news,
.news1,
.training {
  position: absolute;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.news {
  top: calc(50% - 2.5px);
  left: calc(50% + 70px);
  font-family: var(--font-sf-pro);
  display: none;
}
.about,
.fr,
.news1,
.training {
  top: 0;
  left: calc(50% - 92px);
}
.fr,
.news1,
.training {
  left: calc(50% + 149px);
}
.news1,
.training {
  left: calc(50% - 14px);
}
.news1 {
  text-decoration: none;
  left: calc(50% + 76px);
  color: inherit;
}
.homeParent {
  position: relative;
  width: 336px;
  height: 19px;
}
.frameGroup,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameGroup {
  position: absolute;
  top: 50px;
  left: 672px;
  gap: 42px;
  font-size: var(--font-size-base);
}
.logIn {
  text-decoration: none;
  background-color: var(--white);
  width: 1212px;
  height: 832px;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  color: var(--color-black);
  font-family: var(--font-roboto);
}
