
.popup-container {
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 60%;
    background: #FFF;
    display: flex;
    justify-content: center;
    z-index: 1000; 
}

.fc-media-screen{
    height: 400px;
    width: 800px;
}    

.scrollableContentListCalendar {
    overflow-y: scroll;
    margin: 5%;
    height: 100%;
}