.page {
    overflow: hidden;
}




.dashboardContainer {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    height: 100vh;
    flex-direction: column;
    font-family: var(--font-sf-pro);

}

.dashboardHeader {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    justify-content: space-between;
}

.dashboardBody {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.sidebar {
    width: 25%;
    margin-top: 10px;
}



.text {
    color: #5A20C3;
    font-family: var(--font-sf-pro);
    font-style: normal;
    display: flex;
    flex-direction: column;
}

.language {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.path {
    font-weight: 600;
}

/* This contains the progress wheel, "milestones", and messages button */
.studentActivity {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.messages {
    margin-top: 15%;
    margin-bottom: 15%;
    width: 50%;
    height: 6%;
    background: #6E28EE;
    border-radius: 16px;
    border: 1px solid #6E28EE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.messageText {
    color: #000000;
    align-items: center;
    justify-content: center;
    font-family: var(--font-sf-pro);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    height: 100%;
    display: flex;
}

.progress {
    margin-top: 15%;
    margin-bottom: 15%;
    stroke-width: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40%;
    height: 20%;
}

.activities {
    background: #FFF;
    height: 100%;
    width: 100%;
}

.activityHeader {
    background: #FAFAFA;
    height: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    font-family: var(--font-sf-pro);

}

.tabGroup {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.space {
    width: 10px;
}

.activityBody {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-top: 5%;
    overflow-y: auto;
    max-height: 700px;
}

.arrow {
    display: block;
    background: #ffffff;
    padding: 5px;
    height: 30px;
    width: 30px;
}

.milestone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.milestoneIcon {
    height: 50px;
    width: 50px;
}

.headerContainer {
    display: flex;
    justify-content: center;
}

.headerContainer div {
    font-family: var(--font-sf-pro);
    font-weight: 800;
}

/* Main Grid, separate side bar and activities */
.pageGrid { 
    display: grid; 
    grid-template-columns: 35% 65%; 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 20px;
    grid-row-gap: 0px; 
    }
    .gridSidebar { grid-area: 1 / 1 / 3 / 2; } 
    .gridActivities { grid-area: 1 / 2 / 3 / 3; } 

/* Sidebar grid, separate user info, progress, milestones, and messages */
.sidebarGrid { 
    background: #e1e1e1;
    display: grid;
    grid-template-rows: repeat(3, 1fr) 22%; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    padding-left: 20px;
    padding-top: 20px;
    }
    .gridUserInfo { 
        grid-area: 1 / 1 / 2 / 2; } 
    .gridProgress { 
        background-color: #ffffff;
        margin-right: 20px;
        padding: 5px 10px 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: 2 / 1 / 3 / 2; 
    } 
        /* container for lables  */
        .recentProgress{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 20px;
        }
    .gridMilestones { 
        background-color: #ffffff;
        margin-right: 20px;
        margin-top: 10px;
        padding: 5px 10px 0px 10px;
        display: flex;
        flex-direction: column;
        grid-area: 3 / 1 / 4 / 2; 
    } 
    .gridMessages { 
        overflow: auto;
        background-color: #ffffff;
        margin: 10px 20px 40px 0px;
        padding: 5px 10px 10px 10px;
        grid-area: 4 / 1 / 5 / 2; 
    } 

/* Activities Grid, separates day buttons, list buttons */
.activitiesGrid { 
    display: grid; 
    grid-template-columns: 50% 50%; 
    grid-template-rows: 30% 70%; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    padding-right: 20px;
    background: #e1e1e1;
    margin-top: 100px;
    }
    /* Top Row, Left Col */
    .gridDayButtons { 
        display: flex;
        padding-left: 5px;
        align-items: center;
        justify-content: left;
        grid-area: 1 / 1 / 2 / 2; 
        height: 35%;
        padding-left: 30px;
    } 
    /* Top Row, Right Col */
    .gridListButtons { 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        grid-area: 1 / 2 / 2 / 2; 
        height: 35%;
        padding-right: 30px;
    } 
    /* Bottom Row, Span both columns */
    /* Grid to respond to each activity, adds rows as needed */
    .gridActivityMain { 
        /* Set up grid within grid */
        display: grid;
        width: 200%;
        height: 465px;
        overflow-y: auto; /* Allow for users to scroll throuhg activities*/
        grid-auto-rows: 1fr;
        grid-area: 2 / 1 / 2 / 2; 
    } 


.profileContainer {
    position: relative;
    display: inline-block;
  }
  
  .profile {
    width: 50px;
    height: 50px;
    /* Add any other styling for the profile image */
  }
  
  .editprofile {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 20px;
    height: 20px;
    z-index: 1; /* Set a higher z-index to display "editprofile" over "profile" */
    background-color: white;
    border-radius: 100px;
    font-family: var(--font-sf-pro);

  }

  