/* Style the message container */
.message_list {
    display: flex;
    flex-direction: column;
}

/* Style individual messages */
.message {
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    max-width: 100%; /* Adjust this as needed */
    display: flex; /* Display the message content horizontally */
    align-items: flex-start; /* Align items to the left */
    gap: 30px; /* You can adjust this gap as needed */
}

/* Style messages from User1 (on the left) */
.message_left {
    background-color: transparent; /* Set the background color for User1's messages */
    align-self: flex-start; /* Align User1's messages to the left */
}

/* Style messages from User2 (on the right) */
.message_right {
    background-color: transparent; /* Set the background color for User2's messages */
    color: black; /* Set text color for User2's messages */
    align-self: flex-end; /* Align User2's messages to the right */
}

/* Style the icon */
.sender_icon {
    position: relative;
    background-color: transparent;
    width: 35px; /* Adjust icon width */
    height: 10px; /* Adjust icon height */
    top: 15px;
    
}




/* Style the message text with border */
.message_text_with_border {
    border: 1px solid #ccc; /* Add a border to the message text */
    border-radius: 5px;
    padding: 10px; /* Adjust padding as needed */
    flex-grow: 1; /* Allow the message text to expand and fill the available space */
}

.sender_name {
    font-size: small;
    color: #6E28EE;
    font-family:sans-serif;
}
