.header {
    position: relative;
    top: 5%;
    width: 100%;
    height: 60px;
    text-align: center;
    display: inline-block;
    font-family: var(--font-sf-pro);

  }
  .titles {
    position: fixed;
    top: 2.2vw;
    left: .8vw;
    align-items: center;
  }
  .velocifiedicon {
    position: absolute;
    height: 3.2vw;
    left: 4vw;
  }
  .velocifiedtext {
    position: absolute;
    left: 7vw;
    height: 3.2vw;
    
  }
  .search {
    position: fixed;
    left : calc(25%);
  }
  .home1,
  .about,
  .training,
  .news,
  .fr,
  .logIn {
    cursor: pointer;
    font-size: var(--font-size-base);
    font-family: var(--font-sf-pro);
    color: black;
    flex: 1; 
    padding-left: 2.1vw;
    padding-right: 2.1vw;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;


  }
  .navlinks {
    display: flex;
    position: fixed;
    top: 5%;
    left: 55%;
    font-size: var(--font-size-base);
    }

.navlinks a {
  cursor: pointer;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-dimgray);
  text-decoration: none; /* Remove underlines from links */
}

.activeLink {
  /* Add your active link styling here */
  background-color: #6E28EE; /* Change to the desired active link color */
  border-radius: 20px;
  color: white;
}