.calendar-view{
    text-align: center;
    font-family: SF Pro;
    font-size: 27px;
    font-style: normal;
    font-weight: 590;
    line-height: normal;
    letter-spacing: -0.54px;
}

.weekdays {
    width: 107px;
    height: 47px;
    flex-shrink: 0;
}