/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/login.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.login_logoIcon__ni99b {
  position: absolute;
  top: 144.5px;
  left: 575.17px;
  width: 731px;
  height: 687.5px;
}
.login_forgetPassword__Vw4W_ {
  font-weight: 500;
  font-family: var(--font-sf-pro);
}
.login_b__qDqUd {
  font-family: var(--font-sf-pro-display);
}
.login_resetHere__V6ohk {
  font-family: var(--font-sf-pro);
}
.login_forgetPasswordResetContainer1__Va8UG {
  line-break: anywhere;
  width: 100%;
}
.login_forgetPasswordResetContainer__c_d8l {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 5.09%;
  width: 38.07%;
  top: 73.65%;
  left: 31.02%;
  font-size: var(--font-size-sm);
  line-height: 120%;
  color: #ababab;
  text-align: left;
  display: flex;
  align-items: center;
}
.login_container__KQk2_ {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 16px;
  background-color: var(--color-gray-100);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.login_logIn__ro6aX {
  position: absolute;
  height: 74%;
  width: 17.89%;
  top: 26%;
  left: 42.37%;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-sf-pro);
  color: var(--white);
  text-align: left;
  display: inline-block;
}
.login_emailphoneusernameButton__vkWIT,
.login_enterPasswordButton__Em1nx,
.login_logInButton__C1T__ {
  background-color: transparent;
  position: absolute;
  height: 7.28%;
  width: 59.28%;
  right: 20.27%;
  left: 20.45%;
}
.login_logInButton__C1T__ {
  cursor: pointer;
  border: 0;
  padding: 0;
  top: 58.66%;
  bottom: 34.06%;
}
.login_emailphoneusernameButton__vkWIT,
.login_enterPasswordButton__Em1nx {
  border: 10;
  font-weight: 500;
  font-family: var(--font-sf-pro);
  font-size: var(--font-size-base);
  top: 33.33%;
  bottom: 59.39%;
}
.login_emailphoneusernameButton__vkWIT {
  top: 21.25%;
  bottom: 71.47%;
}
.login_logInBox__uzT0s {
  position: absolute;
  top: 145px;
  left: -1px;
  background-color: var(--color-whitesmoke);
  width: 577px;
  height: 687px;
  overflow: hidden;
}
.login_container1__lyGfi {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #b5b5b5;
  box-sizing: border-box;
  width: 129px;
  height: 46px;
}
.login_logIn1__zd3bA {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 23.5px);
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  font-weight: 600;
  font-family: var(--font-sf-pro);
  color: var(--white);
  text-align: center;
}
.login_fr__Bidvw,
.login_logInButton1__WXwqV,
.login_news__u_PFt {
  border: 0;
  background-color: transparent;
  position: absolute;
}
.login_logInButton1__WXwqV {
  cursor: pointer;
  padding: 0;
  top: 1px;
  left: 1047px;
  width: 129px;
  height: 46px;
}
.login_fr__Bidvw,
.login_news__u_PFt {
  font-family: var(--font-sf-pro);
}
.login_fr__Bidvw {
  cursor: pointer;
  padding: 0;
  top: calc(50% - 9.5px);
  left: calc(50% + 391px);
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  font-weight: 600;
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
}
.login_news__u_PFt {
  left: calc(50% + 318px);
}
.login_about__8Whrf,
.login_news__u_PFt,
.login_training__uarY0 {
  cursor: pointer;
  padding: 0;
  top: calc(50% - 9.5px);
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  font-weight: 600;
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
}
.login_training__uarY0 {
  border: 0;
  background-color: transparent;
  position: absolute;
  left: calc(50% + 226px);
  font-family: var(--font-sf-pro);
}
.login_about__8Whrf {
  left: calc(50% + 149px);
}
.login_about__8Whrf,
.login_home__AbMAE,
.login_search__ZmEVx {
  border: 0;
  font-family: var(--font-sf-pro);
  background-color: transparent;
  position: absolute;
}
.login_home__AbMAE {
  cursor: pointer;
  padding: 0;
  top: calc(50% - 9.5px);
  left: calc(50% + 74px);
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  font-weight: 600;
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
}
.login_search__ZmEVx {
  font-weight: 500;
  font-size: var(--font-size-sm);
  top: 0;
  left: 154px;
  width: 460px;
  height: 49px;
}
.login_velocified__cvADC {
  position: absolute;
  top: calc(50% - 9.5px);
  left: calc(50% - 588px);
  letter-spacing: -0.02em;
  font-weight: 600;
}
.login_header__rMcSW {
  position: absolute;
  top: 49px;
  left: 54px;
  width: 1176px;
  height: 49px;
}
.login_login__HX2hq {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 832px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-sf-pro);
}

