
.homepagecontainer {
  background-image: url('/Image 8-13-23 at 3 2.jpg'); 
  background-size: cover;
  background-position: center;
  height: 92vh; 
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.explore {
  text-align: center;
  margin-top: 300px;
  border: 10px;
 
}
.explore button {

  color: #6E28EE;
  border-radius: 10px;
  background-color: #FFFFFF;
  border-color: #6E28EE;
  font-size: large;
  padding : 15px 80px;
}


@media only screen and (max-width: 768px) {
  .homepagecontainer {
    background-color: #c69bef;
    background-image: none ;

  }

}