
.homepagecontainer {
  background-image: url('/Image 8-13-23 at 3 2.jpg'); /* Replace with the actual path to your image */
  background-size: cover;
  background-position: center;
  height: calc(100vh - 100px); /* Adjust the height as needed */
  margin-top: 100px; /* This margin will push the container below the Navbar's height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.explore {
  text-align: center;
  margin-top: 300px;
  border: 10px;
 
}
.explore button {

  color: #6E28EE;
  border-radius: 10px;
  background-color: #FFFFFF;
  border-color: #6E28EE;
  font-size: large;
  padding : 15px 80px;
}