.header {
    position: relative;
    width: 100%;
    height: 8vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-family: var(--font-sf-pro);

  }
  .titles {
    position: relative;
    align-items: center;
    height: inherit;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
  }
  .velocifiedicon {
    position: relative;
    height: 70%;
  }
  .velocifiedtext {
    position: relative;
    height: 50%;
  }
  .search {
    display: flex;
    align-items: center;
    height: 6vh;
    width: 30%;
  }

  .logIn {
    cursor: pointer;
    font-size: var(--font-size-base);
    font-family: var(--font-sf-pro);
    color: black;
    display: flex;
    font-size: large;
    height: 60%;
    align-items: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-right: 1vw;
    
}

.navlinks {
  display: flex;
  position: relative;
  width: fit-content;
  
  align-items: center;
  height: inherit;
  font-size: var(--font-size-base);
}

.right {
  position: absolute;
  right: 3%;

}
.home1{
  padding-right: 10px;
  font-size: var(--font-size-base);
  font-family: var(--font-sf-pro);
  color: black;
}

.navlinks a {
  cursor: pointer;
  font-size: var(--font-size-base);
  font-family: var(--font-sf-pro);
  font-weight: 500;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--color-dimgray);
  text-decoration: none; /* Remove underlines from links */
  margin-right: 20px;
}

.activeLink {
  /* Add your active link styling here */
  background-color: #6E28EE; /* Change to the desired active link color */
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

@media only screen and (max-width: 768px) {
  .search {
    display:none;
  }

  .logIn {
    width: 80%; /* Adjust width for smaller screens */
    font-family: var(--font-sf-pro);

  }


  .header {
    flex-direction: column; /* Change to a column layout for smaller screens */

}
.navlinks{
  flex-direction: column;
}

.home1,
.logIn {
    margin-top: 1vh; /* Add some top margin between the buttons */
}

.activeLink {
  /* Add your active link styling here */
  background-color: #6E28EE; /* Change to the desired active link color */
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

}